<header aria-label="Main" class="u-container main-header">
  <div class="logo-container" data-isOpen="false">
    <a aria-label="Home" class="logo layer h1" href="{{ '/' | url }}">
      <img src="/img/icons/brush.svg" height="40" width="40" alt="paint brush" fetchpriority="high">
      NC Art Meets
    </a>
  </div>
  <nav>
    <button type="button" aria-expanded="false" aria-label="Menu" aria-controls="main-nav-list" id="mobile-menu-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" width="24" id="burger-icon"><path fill="currentColor" d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/></svg>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="24" id="close-icon"><path fill="currentColor" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
    </button>

    <ul id="main-nav-list">
      <li><a aria-current="{% if page.url == '/' %}page{% else %}false{% endif %}" href="/">Home</a></li>
      <li><a aria-current="{% if page.url == '/annual-events/' %}page{% else %}false{% endif %}" href="/annual-events/">Annual Events</a></li>
      <li><a aria-current="{% if page.url == '/map/' %}page{% else %}false{% endif %}" href="/map/">Map</a></li>
      <li><a aria-current="{% if page.url == '/about/' %}page{% else %}false{% endif %}" href="/about/">About</a></li>
      <li><a aria-current="{% if page.url == '/contact/' %}page{% else %}false{% endif %}" href="/contact/">Contact</a></li>
    </ul>
  </nav>
</header>
<script>
  const nav = document.querySelector('nav')
  const list = nav.querySelector('ul')
  const menuButton = document.querySelector('#mobile-menu-button')
  const logo = document.querySelector('header .logo')

  menuButton.addEventListener('click', e => {
    const isOpen = menuButton.getAttribute('aria-expanded') === "true"
    menuButton.setAttribute('aria-expanded', !isOpen)
    logo.setAttribute('data-isOpen', !isOpen)
  })

  // Hide list on escape
  nav.addEventListener("keyup", e => {
    if (e.code === "Escape") {
      menuButton.setAttribute('aria-expanded', false)
      logo.setAttribute('data-isOpen', false)
      menuButton.focus()
    }
  })
</script>
