<div class="card">
  <h3><a href="{{ meet.url }}">{{ meet.name }}</a></h3>
  <p><span class="tag">{{ meet.city }}</span> <span data-type="{{ meet.typeCode}}" class="tag tag-type">{{ meet.type }}</span></p>
  <p class="location">
    <a href="https://www.google.com/maps/place/{{ meet.location.address | encodeForUrl }}">
      <img src="/img/icons/map_pin.svg" alt="" width="16" height="16">
      {{ meet.location.name }}
    </a>
  </p>
  <p><span class="cost">{{ meet.costPerSession }}</span>, {{ meet.cadence }}</p>
  {% if meet.description %}
    <p>{{ meet.description }}</p>
  {% endif %}
  <p><em>Always confirm event dates, times, locations, rules, and ticket requirements on their <a href="{{ meet.url }}">website</a>.</em></p>
</div>
