---
layout: layouts/base.njk
title: "About | NC Art Meets"
description: NC Art Meets is a site built by Sia Karamalegos for the art community in the North Carolina Raleigh-Durham area
---

<h1>About NC Art Meets</h1>
<p>NC Art Meets is a resource for the art community in the North Carolina Raleigh-Durham area. The goal is to help artists find painting/drawing from life events as well as live meetups where people can do art together.</p>

<h2>About the developer</h2>
<p>Sia Karamalegos is a web developer and performance engineer. She builds websites and also makes them faster. Learn more about her work at <a href="https://sia.codes/">sia.codes</a>.</p>
<p>Sia is also an artist, and you can find her art at <a href="https://sia.studio/">sia.studio</a>.</p>

<h2>Sponsor this site</h2>
<p>You can support the work of building and maintaining this site by:</p>
<ul>
  <li><a href="https://ko-fi.com/siacodes">buying Sia a coffee</a></li>
  <li><a href="https://www.patreon.com/SiaKaramalegos">joining her Patreon</a></li>
  <li><a href="https://github.com/sponsors/siakaramalegos">sponsoring her on Github</a></li>
  <li>corporate, ad-based sponsorship</li>
</ul>
<p>Sponsorships with ads are available for both the website and newsletter - perfect for local art stores and similar businesses. If interested, <a href="/contact/">contact me</a>.</p>

<h2>Frequently Asked Questions</h2>
<div class="faq-container">
  <!-- <details>
      <summary></summary>
      <div>
        <p></p>
      </div>
    </details> -->
  <details>
    <summary>Are you the organizer of these events?</summary>
    <div>
      <p>No! This site only aggregates existing events. Please go to provided websites to confirm dates, times, and whether tickets are needed.</p>
    </div>
  </details>
  <details>
    <summary>I know an art event that would be perfect here - how do I get it added?</summary>
    <div>
      <p><a href="/contact/">Contact me</a> with all the event details, including:</p>
      <ul>
        <li>Name of the event</li>
        <li>Website URL</li>
        <li>Location name and address</li>
        <li>Description</li>
        <li>Day/time cadence</li>
        <li>Cost per session</li>
      </ul>
    </div>
  </details>
  <details>
    <summary>How do I report an error?</summary>
    <div>
      <p><a href="/contact/">Contact me</a> for any corrections!</p>
    </div>
  </details>
</div>

