---
layout: layouts/base.njk
description: Your source for live figure drawing, urban sketching, plein air and other drawing or painting from life events in the North Carolina Triangle area
renderData:
  title: "NC Art Meets"
---

<section>
  <h1 class="icon-title">
    <img src="/img/icons/brush.svg" height="50" width="50" alt="paint brush" fetchpriority="high">
    NC Art Meets
  </h1>
  <p>Your source for live figure drawing, urban sketching, plein air and other drawing or painting from life events in the North Carolina Triangle area</p>
  <p>
    Don't miss an update! Sign up for our <a href="https://buttondown.com/nc-art-meets">newsletter</a>:
    <form id="news-signup"
      action="https://buttondown.com/api/emails/embed-subscribe/nc-art-meets"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.com/nc-art-meets', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <label for="bd-email">Email address</label>
      <input type="email" name="email" id="bd-email" placeholder="you@gmail.com">
      <input type="submit" value="Subscribe">
    </form>
  </p>
  <p>Jump to: <a href="#figure">figure drawing</a>, <a href="#bar">general</a>, <a href="#plein-air-usk">plein air/urban sketching</a></p>

  <h2 id="figure">Figure Drawing</h2>
  <div class="card-container u-grid">
  {% for meet in meets | filterByType('fd') %}
    {% include 'meetCard.njk' %}
  {% endfor %}
  </div>

  <h2 id="bar">General Art (& Crafts) in a Bar</h2>
  <div class="card-container u-grid">
    {% for meet in meets | filterByType('gb') %}
      {% include 'meetCard.njk' %}
    {% endfor %}
  </div>

  <h2 id="plein-air-usk">Urban Sketching and Plein Air</h2>
  <div class="card-container u-grid">
    {% for meet in meets | filterByType('pa') %}
      {% include 'meetCard.njk' %}
    {% endfor %}
  </div>

</section>


