---
layout: layouts/base.njk
description: Your source for live figure drawing, urban sketching, plein air and other drawing or painting from life events in the North Carolina Triangle area
renderData:
  title: "NC Art Meets"
---

<section>
  <h1 class="icon-title">
    <img src="/img/icons/brush.svg" height="50" width="50" alt="paint brush" fetchpriority="high">
    NC Art Meets
  </h1>
  <p>Your source for live figure drawing, urban sketching, plein air and other drawing or painting from life events in the North Carolina Triangle area</p>
  <p>
    Don't miss an update! Sign up for our <a href="https://buttondown.com/nc-art-meets">newsletter</a>:
    <form id="news-signup"
      action="https://buttondown.com/api/emails/embed-subscribe/nc-art-meets"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.com/nc-art-meets', 'popupwindow')"
      class="embeddable-buttondown-form card"
    >
      <label for="bd-email">Email address</label>
      <input type="email" name="email" id="bd-email" placeholder="you@gmail.com">
      <input type="submit" value="Subscribe">
    </form>
  </p>

  <h2>Find your next art meetup</h2>
  <div class="filter-container">
    <button data-city="all" role="switch" aria-selected="true">All cities</button>
    {% for city in cities %}
      {% if city.code == 'nva' or city.code == 'br' %}
      {% else %}
        <button data-city="{{ city.code }}" role="switch" aria-selected="false">{{ city.name }}</button>
      {% endif %}
    {% endfor %}
  </div>
  <div class="filter-container">
    <button data-type="all" role="switch" aria-selected="true">All types</button>
    {% for type in types %}
      <button data-type="{{ type.code }}" role="switch" aria-selected="false">{{ type.name }}</button>
    {% endfor %}
  </div>
  <p><em>Always confirm event dates, times, locations, rules, and ticket requirements on that meetup's website.</em></p>
  <div class="card-container u-grid" data-selected-city="all">
    {% for meet in meets %}
      {% include 'meetCard.njk' %}
    {% endfor %}
  </div>

</section>

<script>
  const filterButtons = document.querySelectorAll('.filter-container button')
  const cardsContainer = document.querySelector('.card-container')

  const resetButtons = (filter) => {
    filterButtons.forEach(button => {
      if (button.dataset[filter]) {
        button.setAttribute('aria-selected', false)
      }
    })
  }

  const handleClick = (button) => {
    const filter = button.dataset.city ? 'city' : 'type'

    cardsContainer.setAttribute(`data-selected-${filter}`, button.dataset[filter])
    resetButtons(filter)
    button.setAttribute('aria-selected', true)
  }

  filterButtons.forEach(button => {
    button.addEventListener('click', () => handleClick(button))
  })
</script>
