---
layout: layouts/base.njk
title: "Map | NC Art Meets"
description: Your source for live figure drawing, urban sketching, plein air and other drawing or painting from life events in the North Carolina Triangle area
---

<h1>Map of Venues</h1>
<p>Here is a map for consistent meeting spaces used in some events. Plein air and urban sketching meetups often vary locations, and those are not listed.</p>
<p>Expand the map menu (top left corner of the map) to filter by activity type. <a href="https://www.google.com/maps/d/u/0/edit?mid=1rHafg-tvt1-OBV9Z5xTdF5fIVbKy6Pg&usp=sharing" rel="nofollow">View in Google Maps</a>.</p>

<div class="google-maps">
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rHafg-tvt1-OBV9Z5xTdF5fIVbKy6Pg&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
</div>
